@media screen and (max-width: 768px) {
    .logo{
        font-size: 2.5rem;
    }

    .menu-button{
        display: block;
        
        
    }

    nav{
        display: none;
        background-color:none;
        width: 100%;
        top: 65px;
        position: absolute;
 
    }

    .show-menu nav{
        display: block;
        background-color: orangered;
        margin-left: 60%;
        width: 40%;
    }
      
    nav ul {
        flex-direction: column;
        text-align: right;        
    }
    
    nav ul li{
        width: 100%;
        padding: 1rem;
        color: white;

          
    }
    .ofertas img{
        width: 100%;

    
    }

    .header-bottom-side{
        flex-direction: column;
        
    }

    .header-bottom-side-right img{
        width: 250px;
    }

    .cols-3{
        grid-template-columns: repeat(1,1fr); /*divide as imagens por colunas: "1 , 1fr= quantas imagens serão colocadas na coluna, neste caso 1 imagem.*/
        gap: 20px;
        margin-left: 0px;
    }

    .cols-4{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-left: 0px;
        overflow: hidden;
        

    }
    .cols-8 {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-left: -140px;
        
        
    }
    .product img{
        width: 150px;
    }    
    
    .product-name, .rate, .product-price{
        text-align: center;
    }

     section.header-bottom-side{
        flex-direction: column-reverse;
        
        
    }

    .comentarios{
        flex-direction: column;
        padding: 2rem;
    }

    .comment{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

   section .header-bottom-side-right img {
    filter: drop-shadow(0px 0px 0px);
    width: 200px;
    margin-left: 90px;
    


}




