@media (max-width: 768px) {
    .logo{
        font-size: 3rem;
    }

    .menu-button{
        display: block;
        
        
    }

    nav{
        display: none;
        background-color:none;
        width: 100%;
        top: 65px;
        position: absolute;
       
       
        
    }

    .show-menu nav{
        display: block;
        margin-left: 230px;
        
    }
      
    nav ul {
        flex-direction: column;
        
        
    }
    
    nav ul li{
        width: 100%;
        padding: 1rem;
        color: orangered;
        text-align: right;
        margin-left: 65px;
        
          
    }
    
    .header-bottom-side{
        flex-direction: column;
        
    }

    .header-bottom-side-right img{
        width: 250px;
    }

    .cols-3{
        grid-template-columns: repeat(1,1fr); /*divide as imagens por colunas: "1 , 1fr= quantas imagens serão colocadas na coluna, neste caso 1 imagem.*/
        gap: 20px;
    }

    .cols-4{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    }

    .cols-8 {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-right: 50px;    
 
}
    
}




